html {
    color: red;
}

.row, .col {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

textarea {
}

textarea, iframe {
    flex: 1;
}

#main-panel {
    height: 70vh
}
